{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'account/login.css' %}">
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div class="row">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit"><a href="/" style="text-decoration: none; color: #ffffff;">Login</a></button>
        </form>
        <p>Don't have an account? <a href="/register/">Register here</a></p>
    </div>
</body>

</html>