{% extends "homepage/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'some/profile.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock %}

{% block body_class %}profile-page{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="card shadow-lg p-4" style="background-color: rgb(112, 138, 255);">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center">
                        <img src="{{ user.profile.avatar_url }}" class="rounded-circle mb-3" width="150" height="150"
                            style="object-fit: cover;">

                        <h5 class="mt-2">{{ user.username }}</h5>



                    </div>
                    <div class="col-md-8 ps-4 border-start border-2">
                        <h4 class="mb-4 fs-3 " style="color: #000000; text-align: center;">Інформація про
                            користувача</h4>

                        <h4 class="mt-4">Соцмережі:</h4>
                        <div class="social-icons mb-3 mt-3">
                            {% for link in social_links %}
                            <a href="{{ link.url }}" target="blank">
                                <i class="fa-brands fa-{{ link.platform }} fa-2x  "></i>
                            </a>
                            {% empty %}
                            <span class="text-muted">Немає доданих соцмереж</span>
                            {% endfor %}
                        </div>

                        <p><strong>Дата реєстрації:</strong>
                            {{ user.date_joined|date:"d.m.Y" }}
                        </p>
                        <hr>

                        <nav class="navbar navbar-dark ">
                            <div class="container-fluid">
                                <button class="navbar-toggler border-3" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <p class="text-black mb-0">Зробити пост</p>
                                </button>
                            </div>
                        </nav>
                        <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
                            <div class="mt-3 p-4 border border-2 rounded-3 "
                                style="background-color: rgb(112, 138, 255);">
                                <form method="post" action="{% url 'create_post' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <input type="text" name="title" class="form-control" placeholder="Заголовок"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <textarea name="content" class="form-control" rows="4"
                                            placeholder="Текст посту..." required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Опублікувати</button>
                                </form>
                            </div>
                        </div>


                        <span class="mt-2 badge bg-primary">ValoNet User</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}